
<div class="row">
  <div class="span8">
    &nbsp;
  </div>
  <div class="span1">
    <%= image_tag(@profile.avatar_url, class: "thumbnail mmugshot" )%>
  </div>
  <div class="span3">
    <%= @profile.description %>
  </div>
</div>