<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Ask@Mindvalley</h1>
    <h2>Someone just asked you a question ...</h2>
    <p>
      <%= @body %>
    </p>
  </body>
</html>