div {
	display: block;
}
h5 {
	font-weight: 300;
	font-family: 'Lato',Helvetica,Arial,sans-serif;
}

span.icon-stack {
margin-bottom: 20px;

}

.span9 {
	width: 782px !important;
}

.icon-stack {
position: relative;
display: inline-block;
width: 2em;
height: 2em;
line-height: 2em;
vertical-align: -35%;
}


.block {
background-color: white;
border: 1px solid #ddd;
-webkit-border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
border-radius: 7px 7px 7px 7px;
margin-bottom: 20px;
padding: 10px;
}

#header {
	width: 100%;
	background: #242424;
	height: 62px;
	z-index: 1000;
}
.wrapper {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	clear: both;
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.logo img{
	margin-top: 12px;
}
.right{
	float: right;
}
.left{
	float: left;
}
a.right{
	margin-top: 15px;
	margin-right: 15px;
	color: white;
	background-color: grey;
	padding: 3px;
	border: 1px solid;
	border-radius: 5px;
	border-color: darkGrey;
}
a.right:hover {
	text-decoration: none;
}
#_background {
}
ul {
	list-style: disc;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	li {
		display: inline-block;
		margin: 5px 0 5px 20px;
		a {
			color: white;
		}
	}
}
#player {
	margin-left: 300px !important;
}

#my-timeline{
	margin-bottom: 40px !important;
	margin-top: 105px !important;
}

h3{
	font-size: 22px;
	color: #333333;
	text-align: center;
}
h3.span6 {
	margin-bottom: 30px;
}
h3.span6, .margin-center {
	margin-left: 323px !important;
}
.margin-center-box {
	margin-left: 210px !important;
}
#heading, #progress_form {
	margin-top: 105px;
}

li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
	border-top-color: white;
	border-bottom-color: white;
}
div.dropdown {
	margin-top: 20px;
	display: inline;
	color: white;
}
ul.dropdown-menu {
	margin-top: 0px !important;
}
.left15px {
	margin-left: 15px;
}