table.mws-table .headerSortUp {
	background-image: image-url('sort_asc.png');
	background-repeat: no-repeat;
	background-position: 99% 60%;
}
table.mws-table .headerSortDown {
	background-image: image-url('sort_desc.png');
	background-repeat: no-repeat;
	background-position: 99% 60%;
}